html:not(.dark) {
  --highlight-keyword: #1c6b48;
  --highlight-background: #fbfbfb;
  --highlight-comment: #a0ada0;
  --highlight-foreground: #393a34;
  --highlight-string: #b56959;
  --highlight-gutter: #869194;
  --highlight-class: #2993a3;
  --highlight-function: #6c7834;
  --prism-builtin: #ab5959;
  --prism-property: #b58451;
  --prism-decorator: #bd8f8f;
}
html.dark {
  --highlight-keyword: #4d9375;
  --highlight-background: #111;
  --highlight-comment: #758575;
  --highlight-foreground: #d4cfbf;
  --highlight-string: #d48372;
  --highlight-gutter: #869194;
  --highlight-class: #54b1bf;
  --highlight-function: #a1b567;
  --prism-builtin: #858585;
  --prism-property: #dd8e6e;
  --prism-decorator: #bd8f8f;
}
figure.highlight {
  padding: 0 0.5em;
  margin: 0.5em 0;
  border-radius: 0.3em;
  overflow: auto;
  position: relative;
}
figure.highlight table {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  border-collapse: collapse;
}
figure.highlight .gutter {
  display: none;
}
figure.highlight .code {
  padding: 0;
}
figure.highlight .code .line {
  color: var(--highlight-foreground);
}
figure.highlight pre {
  background: var(--highlight-background);
  margin: 0;
}
pre {
  padding: 10px;
  overflow: auto;
  background: var(--highlight-background);
  color: var(--highlight-foreground);
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
}
pre code {
  padding: 0;
}
pre .comment {
  color: var(--highlight-comment);
}
pre .string {
  color: var(--highlight-string);
}
pre .keyword,
pre .doctag {
  color: var(--highlight-keyword);
}
pre .class_ {
  color: var(--highlight-class);
}
pre .function_ {
  color: var(--highlight-function);
}
pre .tag>.name {
  color: var(--prism-builtin);
}
pre .attr {
  color: var(--prism-property);
}
pre .meta {
  color: var(--prism-decorator);
}
pre .params {
  color: var(--prism-decorator);
}
:root {
  --c-bg: #fff;
  --c-scrollbar: #d9d9d9;
  --c-scrollbar-hover: #bbb;
}
html.dark {
  --c-bg: #212121;
  --c-scrollbar: #333;
  --c-scrollbar-hover: #555;
}
a:hover {
  color: #de7441;
}
::-webkit-scrollbar-track {
  background-color: var(--c-bg);
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--c-scroll);
  border-radius: 4px;
}
.admonition {
  margin: 1.5625em 0;
  padding: 0.6rem;
  overflow: hidden;
  page-break-inside: avoid;
  border-left: 0.3rem solid #42b983;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.05), 0 0 0.05rem rgba(0,0,0,0.1);
}
p.admonition-title {
  position: relative;
  height: 100%;
  margin: -0.6rem -0.6rem 0.8em -0.6rem !important;
  padding: 0.4rem 0.6rem 0.4rem 2.5rem;
  font-weight: 700;
  background-color: rgba(66,185,131,0.1);
}
.admonition-title::before {
  position: absolute;
  top: 0.9rem;
  left: 1rem;
  width: 12px;
  height: 12px;
  background-color: #42b983;
  border-radius: 50%;
  content: ' ';
}
.info>.admonition-title,
.todo>.admonition-title {
  background-color: rgba(0,184,212,0.2);
  color: #00b8d4;
}
.warning>.admonition-title,
.attention>.admonition-title,
.caution>.admonition-title {
  background-color: rgba(255,145,0,0.2);
}
.failure>.admonition-title,
.missing>.admonition-title,
.fail>.admonition-title,
.error>.admonition-title {
  background-color: rgba(255,82,82,0.2);
}
.admonition.info,
.admonition.todo {
  border-color: #00b8d4;
  color: #00b8d4;
}
.admonition.note {
  border-color: #42b983;
  color: #42b983;
}
.admonition.warning,
.admonition.attention,
.admonition.caution {
  border-color: #ff9100;
  color: #ff9100;
}
.admonition.failure,
.admonition.missing,
.admonition.fail,
.admonition.error {
  border-color: #ff5252;
  color: #ff5252;
}
.info>.admonition-title::before,
.todo>.admonition-title::before {
  background-color: #00b8d4;
  border-radius: 50%;
}
.warning>.admonition-title::before,
.attention>.admonition-title::before,
.caution>.admonition-title::before {
  background-color: #ff9100;
  border-radius: 50%;
}
.failure>.admonition-title::before,
.missing>.admonition-title::before,
.fail>.admonition-title::before,
.error>.admonition-title::before {
  background-color: #ff5252;
  border-radius: 50%;
}
.admonition>:last-child {
  margin-bottom: 0 !important;
}
